._5qqr ._6m6, ._5qqr ._6m7 {
    white-space: normal !important;
}

._59ap ._6m3 {
    height: auto !important;
    max-height: auto !important;
}

._3n1j ._6m6, ._3n1j ._6m7 {
    display: block !important;
}
